DB_URL=jdbc:postgresql://elsagabl2mcplcjz95b9ngyi:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=0bms2hmrM49axe7IKgPaPJbevfY2pPjJpxknj00W7iOV5o08paHGbbZM2qUwXA9T

JWT_SECRET=hsEXtZg4H4ShjK0UKkJu8Zg934kkYIguvXbXw5rGuQ1
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

CONSUL_HOST=host.docker.internal
CONSUL_PORT=8500