DB_URL=jdbc:postgresql://<postgres-internal-host>:5432/payment_service
DB_USERNAME=payment_service
DB_PASSWORD=<postgres-password>

SERVER_PORT=8080

STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_PUBLISHABLE_KEY=pk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

CONSUL_HOST=host.docker.internal
CONSUL_PORT=8500
